#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: silver;
}

p {
  text-align: left;
  color: green;
  font-size: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  gap: 5px;
}

li {
  display: flex;
  justify-content: center;
}

textarea {
  width: 100%;
  color: black;
  background-color: #f0f0f0;
}

button {
  color: black;
  background-color: white;
  border-color: blue;
  margin: 3;
}

.window {
  background-color: white;
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10;
}

.action-button {
  flex: 1;
  display: flex;
  justify-content: center;
}

.list-button {
  width: 10em;
  display: flex;
}

.button-group {
  display: flex;
  width: 100%;
  gap: 7px;
}
